/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {background-color: #red;font-family: "proxima-nova";}

p, h1, h2, h3, h4, h5, h6 {font-family: "proxima-nova";}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

h1.artist-title {
	font-weight: bolder;
	font-size: 52px;
	color: #000;
	letter-spacing: 12px;
}

h2 {
	font-weight: 200;
	font-size: 24px;
	letter-spacing: 6px;
	margin-bottom: 15px;
}

h4.headline-style {
	font-family: "proxima-nova";
	font-size:26px;
	letter-spacing:6px;
	font-weight: 100;
	margin: 65px 0px;
}

a {
   transition: color .5s ease;
}

a:hover {
   text-decoration: none;
}

.page-header>h1 {
	letter-spacing: 10px;
}
.wrap.container {
padding-bottom: 50px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(../img/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*=======================================================
   Artist Page
  ======================================================= */
.artist-view {
   -webkit-transition: -webkit-filter .4s ease;
     -moz-transition: -moz-filter .4s ease;
      -ms-transition: -ms-filter .4s ease;
          transition: -o-filter .4s ease, filter .4s ease;
          -webkit-filter: grayscale(50%);
         -moz-filter: grayscale(50%);
         -ms-filter: grayscale(50%);
         -o-filter: grayscale(50%);
         filter: grayscale(50%);
         filter: url(grayscale.svg);
         filter: gray;
	transition:opacity .4s ease;
	opacity:.8;
	width: 100%;
	height: auto;
}

.artist-view:hover {
   -webkit-filter: grayscale(0%);
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
         filter: grayscale(0%);
         filter: none;
         filter: none;
	opacity:1;
}

.artist-website {
   float: left;
   line-height: 27px!important;
   margin-bottom: 0px;
}

button.btn.btn-default {
transition: background-color .5s ease;
background-color: #FD0100;
border-radius: 0px;
border: 0px;
color: #fff;
padding: 0px;
font-size: 12px;
font-weight: bolder;
text-transform: uppercase;
}

button.btn.btn-default:hover{
   background-color: #000;
}

.artist-header {
border-top: solid 1px #000;
border-bottom: solid 1px #000;
padding: 7px 0px;
height: 40px;
}

.artist-website>a {
   transition: color .5s linear;
color: #FE0000;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 3px;
}

.artist-website>a:hover{
   color: #000;
}

.socials {
list-style: none;
}

.socials>li {
float: right;
margin: 0 10px;
}

.socials>li>a>i {
font-size: 2em;
transition: color .5s ease;
color: #000;
}

.socials>li>a>i:hover{
   color: #FD0100;
}

.img-wrapper {
padding-top: 55%;
background-size: cover!important;
margin-bottom: 8%;
}

.page-id-14 .img-wrapper{
   background-size: contain!important;
}

.img-gal{
width: 50%;
height: 140px;
overflow: hidden;
margin-top: 5px;
}

.img-gal-disc{
height: auto;
overflow: hidden;
margin-top: 5px;
}

.artist-url:hover{
   text-decoration: none!important;
}

.img-wrapper > h4 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
background: rgba(0,0,0,.5);
text-align: right;
letter-spacing: .2em!important;
text-decoration: none!important;
color: #fff;
font-size:100%;
}

.headline {
margin-bottom: 15px;
}

.discography {
margin-top: 25px;
}

.album-meta p:nth-child(1) {
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 11px;
font-weight: bold;
line-height: 1;
color: rgb(112, 112, 112);
margin-bottom:0;
}

.album-meta p:nth-child(2) {
text-align: center;
text-transform: uppercase;
font-size: 10px;
color: #CCC;
line-height:1.2;
padding-top:4%;
}

div.album-meta {
width: 170px;
max-width: 98%;
padding-top: 7%;
}


/* --- Artist Bio Modal --- */ 

.modal-body {
padding: 20px;
height: 500px;
overflow: scroll;
}

.modal-dialog {top: 20px;}
.modal-header {border-bottom: transparent;}
.modal-footer {padding: 0px 20px 0px;border-top: transparent;}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

/*Music Controls*/
.music-controls>li {
display: inline-block;
}

.music-controls{
   list-style: none;
   display: inline-block;
}

.music-player h4 {
display: inline-block;
}

.sm2_playing>.fa:before{
  content: "\f04c";
}

.music-player{
   float: right;
}

.fa a{
   text-decoration: none!important;
}

p.play, p.pause, .prev-track, .next-track {
font-size: 12px!important;
}

.playlist {
list-style: none;
float: left;
margin-bottom: 0px;
}

.playlist>li {
display: none;
}

li.playing {
display: block!important;
color: rgb(131, 131, 131);
}

div#audiojs_wrapper0 {
height: 30px;
margin-bottom: 10px;
background: #F8F8F8;
-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
width: 100%;
}

.scrubber{
   background-color: #fff!important;
   border: 0px!important;
   width: 87%!important;
   height: 7px!important;
   margin: 5px!important;
}

.scrubber-wrap {
background: #FE0000;
width: 100%;
height: 17px;
margin-top: 10px;
}

.time {
display: none;
}

.loaded{
   background: #EEEFF1!important;
}

/*Fix music icons*/
.audiojs .play {
background: none!important;
width: 100%!important;
}

.audiojs .pause {
background: none!important;
width: 100%!important;
}

.audiojs .loading {
background: url("../js/player-graphics.gif") -2px -31px no-repeat!important;
}

.audiojs .error {
background: url("../js/player-graphics.gif") -2px -61px no-repeat;
}

.next-track, .prev-track, .play-pause {
width: 25px;
height: 100%;
float: left;
color: rgb(131, 131, 131);
text-align: center;
padding: 11px 3px!important;
margin: 0px;
overflow: hidden;
border-right: 0px solid #000!important;
background: #F8F8F8;
font-size: 18px;
}

.home header.banner.navbar.navbar-default.navbar-static-top {
margin-bottom: 0px;
height:130px;
}

.navbar-default {
border-color: transparent!important;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
background-color: transparent!important;
color: red!important;
}

.navbar-brand {padding: 10px 15px;}
a.navbar-brand {width: 240px;height: 120px;}
a.navbar-brand img {width:70%;padding-top:7%;}

ul#menu-main-nav {padding-top: 3.5%;}

.player {
float: right;
margin-top: 5px;
padding-top:1.6%;
}

ol.playlist {
padding-left: 75px;
height: 10px;
}

#menu-main-nav > li > a {
text-transform: uppercase;
letter-spacing: 1px;
color: #000;
text-align: center;
}

#menu-main-nav > li {
margin-left: 12px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.hentry time {
font-size: 12px;
width: 100%;
display: block;
}

body.single .hentry time {
font-size: 16px;
padding: 5px;
}
.hentry p{
   word-spacing: 4px;
   line-height: 20px;
}
.individual-post .post-footer .addthis_toolbox {
float: right;
width: 100%;
}

.meta-date-share {
padding: 1%;   
background-color:#FFF;
}

.addthis_toolbox {
background-color: #FFF;
display: block;
width: 100%;
opacity: .7;
}

.meta-date-share .addthis_toolbox {
width:250px;   
}

.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: 50% 0px!important;
padding-bottom: 60%;
}
.wp-post-image {
margin-bottom: 25px;
}

body.single .btn-primary {
border: none;
color: #FFF;
font-size: 14px;
width: 100%;
padding: 1%;
margin-top:5px;
}

body.single .btn-primary:hover {
background-color: #c9c9c9;
} 

h1.entry-title {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 52px!important;
text-align: left;
background-color:#FFF;
padding:1%;
}

.blog-post-content {
margin-top: 20px;
background-color: #FFF;
padding: 2%;
}

.individual-post {
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
}

.individual-post .excerpt {
height: 155px;
overflow: hidden; 
color: rgb(88, 88, 88);
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
border-top: 1px solid #ededed;
}

.individual-post .post-footer .post-date {
color: #ccc!important;
font-size: 10px;
text-transform: uppercase;
}

#respond > h3 {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 32px!important;
text-align: left;
background-color: #FFF;
padding: 1%;
}

#respond {background-color:#FFF;}

body.category-news .addthis_default_style .at15t_compact {
display: none;
}

body.single img.attachment-large.wp-post-image {
float: left!important;
min-width: 100px;
max-width: 600px;
height: auto;
margin-right: 20px;
}

/* --- Layer Slider Top --- */

h2.ls-l,
h1.ls-l {
text-shadow: 0 0 8px #616161;
}

/* ==========================================================================
   Home
   ========================================================================== */
.headline>*{
   text-align: center;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px; list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

p.credits {
float: right;
text-transform: uppercase;
}

p.credits a {
color: #CCC!important;
font-size: 13px;
letter-spacing: 1px;
}

div#social {
float: left;
}

ul#menu-social-navigation a {
font-size: 20px;
color:#888;
}

.footer-banner {
   padding: 0px!important;
   height: 490px;
   overflow:hidden;
}

body.single-artist .footer-banner,
body.artists .footer-banner,
body.staff .footer-banner,
body.contact .footer-banner,
body.blog .footer-banner,
body.single .footer-banner {
display: none;
}

.container-fluid.footer-banner img {
width: 100%;
}

h4.banner-headline {
position: relative;
bottom: 400px;
left: 160px;
color:#FFF;
max-width: 670px;
font-size: 37px;
letter-spacing: .3em;
font-weight: 100;
}

h5.banner-sub-heading {
position: relative;
bottom: 480px;
left: 210px;
max-width: 670px;
color: #fff;  
font-size: 27px; 
letter-spacing: .3em;
font-weight: 100;
}

a.banner-link {
text-decoration: none;
}

a.banner-link:hover {
text-decoration: none;
}

button.btn.btn-default.btn-banner {
clear: both;
height: 25px;
width: 100px;
font-size: 15px;
margin-top: 45px;
position: relative;
bottom: 370px;
left: 210px;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { 

a.navbar-brand img {
width: 50%;
}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { 

.header {height:130px;}

ul#menu-main-nav {
position: relative;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 60px;
}

nav.collapse.navbar-collapse {
height: 130px!important;
position: relative;
}

.navbar-default {
padding-top: 3%;
height:130px;
}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { 

li.playing p {
margin-bottom: 0!important;
margin-bottom: 0!important;
margin-top: 5%;
}

li.playing {
padding-top: 5%;
}


}
