/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

p, h1, h2, h3, h4, h5, h6 {
   font-family: "proxima-nova";
}
h1, h2, h3, h4, h5, h6{
   font-weight: bold;
text-transform: uppercase;
}
h1.artist-title {
font-weight: bolder;
font-size: 52px;
color: #000;
letter-spacing: 12px;
}
h2 {
font-weight: 200;
font-size: 24px;
letter-spacing: 6px;
}
.artist-website{
   float: left;
   line-height: 27px!important;
   margin-bottom: 0px;
}
.artist-header {
border-top: solid 1px #000;
border-bottom: solid 1px #000;
padding: 7px 15px;
height: 40px;
}
.artist-website>a {
color: #FE0000;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 3px;
}
.socials {
list-style: none;
}
.socials>li {
float: right;
margin: 0 10px;
}
.socials>li>a>i {
font-size: 2em;
color: #000;
}
.img-wrapper {
padding-top: 50%;
padding-bottom: 5px;
background-size: cover!important;
margin-bottom: 10px;
}
.img-wrapper > h4{
padding-top: 10px;
padding-bottom: 10px;
background: rgba(0,0,0,.3);
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

/*Music Controls*/
.music-controls>li {
display: inline-block;
}
.music-controls{
   list-style: none;
   display: inline-block;
}
.music-player h4 {
display: inline-block;
}
.sm2_playing>.fa:before{
  content: "\f04c";
}
.music-player{
   float: right;
}
.fa a{
   text-decoration: none!important;
}
.playlist {
list-style: none;
}
.playlist>li {
display: none;
}
li.playing {
display: block!important;
}

/*Fix music icons*/
.audiojs .play {
background: url("../js/player-graphics.gif") -2px -1px no-repeat!important;
}
.audiojs .pause {
background: url("../js/player-graphics.gif") -2px -91px no-repeat!important;
}
.audiojs .loading {
background: url("../js/player-graphics.gif") -2px -31px no-repeat!important;
}
.audiojs .error {
background: url("../js/player-graphics.gif") -2px -61px no-repeat;
}
.audiojs .play-pause {
width: 35px!important;
}
.scrubber{
   display: none;
}
.scrubber-new {
position: relative;
float: left;
width: 245px;
height: 14px;
margin: 10px;
border-left: 0px;
border-bottom: 0px;
overflow: hidden;
}
.next-track, .prev-track {
width: 25px;
height: 100%;
float: left;
color: #fff;
text-align: center;
padding: 9px 6px;
margin: 0px;
overflow: hidden;
border-right: 1px solid #000;
}
.scrubber{
   display: none;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.hentry time {
font-size: 12px;
width: 100%;
display: block;
}

body.single .hentry time {
font-size: 16px;
padding: 5px;
}
.hentry p{
   word-spacing: 4px;
   line-height: 20px;
}
.individual-post .post-footer .addthis_toolbox {
float: right;
width: 100%;
}

.meta-date-share {
padding: 1%;   
background-color:#FFF;
}

.addthis_toolbox {
background-color: #FFF;
display: block;
width: 100%;
opacity: .7;
}

.meta-date-share .addthis_toolbox {
width:250px;   
}

.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: 50% 0px!important;
padding-bottom: 60%;
}
.wp-post-image {
margin-bottom: 25px;
}

body.single .btn-primary {
border: none;
color: #FFF;
font-size: 14px;
width: 100%;
padding: 1%;
margin-top:5px;
}

body.single .btn-primary:hover {
background-color: #c9c9c9;
} 

h1.entry-title {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 52px!important;
text-align: left;
background-color:#FFF;
padding:1%;
}

.blog-post-content {
margin-top: 20px;
background-color: #FFF;
padding: 2%;
}

.individual-post {
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
}

.individual-post .excerpt {
height: 155px;
overflow: hidden; 
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
border-top: 1px solid #ededed;
}

.individual-post .post-footer .post-date {
color: #ccc!important;
font-size: 10px;
text-transform: uppercase;
}

#respond > h3 {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 32px!important;
text-align: left;
background-color: #FFF;
padding: 1%;
}

#respond {background-color:#FFF;}


body.category-news .addthis_default_style .at15t_compact {
display: none;
}

/* ==========================================================================
   Home
   ========================================================================== */
.headline>*{
   text-align: center;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
