/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body {background-color: #F2F2F2;font-family: "proxima-nova";}

p, h1, h2, h3, h4, h5, h6 {font-family: "proxima-nova";}

h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
}

h1.artist-title {
	font-weight: bolder;
	font-size: 52px;
	color: #000;
	letter-spacing: 12px;
}

h2 {
	font-weight: 200;
	font-size: 24px;
	letter-spacing: 6px;
	margin-bottom: 15px;
}

h4.headline-style {
	font-family: "proxima-nova";
	font-size:26px;
	letter-spacing:6px;
	font-weight: 400;
	margin: 65px 0px;
}

a {
   transition: color .5s ease;
}

a:hover {
   text-decoration: none;
}

.page-header>h1 {
	letter-spacing: 10px;
}

/*=======================================================
   Artist Page
  ======================================================= */
  .artist-view{
   -webkit-transition: -webkit-filter .5s;
     -moz-transition: -moz-filter .5s;
      -ms-transition: -ms-filter .5s;
          transition: -o-filter .5s, filter .5s;
          -webkit-filter: grayscale(100%);
         -moz-filter: grayscale(100%);
         -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
         filter: grayscale(100%);
         filter: url(grayscale.svg);
         filter: gray;
  }
  .artist-view:hover{
   -webkit-filter: grayscale(0%);
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
         filter: grayscale(0%);
         filter: none;
         filter: none;

  }
.artist-website{
   float: left;
   line-height: 27px!important;
   margin-bottom: 0px;
}
button.btn.btn-default {
transition: background-color .5s ease;
background-color: #FD0100;
border-radius: 0px;
border: 0px;
color: #fff;
padding: 1px 3px;
font-size: 12px;
font-weight: bolder;
text-transform: uppercase;
}
button.btn.btn-default:hover{
   background-color: #000;
}
.artist-header {
border-top: solid 1px #000;
border-bottom: solid 1px #000;
padding: 7px 15px;
height: 40px;
}
.artist-website>a {
   transition: color .5s linear;
color: #FE0000;
font-size: 16px;
text-transform: uppercase;
letter-spacing: 3px;
}
.artist-website>a:hover{
   color: #000;
}
.socials {
list-style: none;
}
.socials>li {
float: right;
margin: 0 10px;
}
.socials>li>a>i {
font-size: 2em;
transition: color .5s ease;
color: #000;
}
.socials>li>a>i:hover{
   color: #FD0100;
}
.img-wrapper {
padding-top: 55%;
background-size: cover!important;
margin-bottom: 10px;
}
.img-gal{
width: 50%;
height: 175px;
overflow: hidden;
margin-top: 5px;
}
.img-gal-disc{
height: 175px;
overflow: hidden;
margin-top: 5px;
}
.artist-url:hover{
   text-decoration: none!important;
}
.img-wrapper > h4 {
padding-top: 10px;
padding-bottom: 10px;
padding-right: 10px;
background: rgba(0,0,0,.5);
text-align: right;
text-decoration: none!important;
color: #fff;
}
.headline {
margin-bottom: 15px;
}
.discography {
margin-top: 25px;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

/*Music Controls*/
.music-controls>li {
display: inline-block;
}

.music-controls{
   list-style: none;
   display: inline-block;
}

.music-player h4 {
display: inline-block;
}

.sm2_playing>.fa:before{
  content: "\f04c";
}

.music-player{
   float: right;
}

.fa a{
   text-decoration: none!important;
}

p.play, p.pause, .prev-track, .next-track {
font-size: 12px!important;
}

.playlist {
list-style: none;
float: left;
margin-bottom: 0px;
}

.playlist>li {
display: none;
}

li.playing {
display: block!important;
}

div#audiojs_wrapper0 {
height: 30px;
margin-bottom: 10px;
background: #F8F8F8;
-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.0);
width: 315px;
}

.scrubber{
   background-color: #fff!important;
   border: 0px!important;
   width: 210px!important;
   height: 7px!important;
   margin: 5px!important;
}

.scrubber-wrap {
background: #FE0000;
width: 100%;
height: 17px;
margin-top: 10px;
}

.time {
display: none;
}

.loaded{
   background: #EEEFF1!important;
}

/*Fix music icons*/
.audiojs .play {
background: none!important;
width: 100%!important;
}

.audiojs .pause {
background: none!important;
width: 100%!important;
}

.audiojs .loading {
background: url("../js/player-graphics.gif") -2px -31px no-repeat!important;
}

.audiojs .error {
background: url("../js/player-graphics.gif") -2px -61px no-repeat;
}

.next-track, .prev-track, .play-pause {
width: 25px;
height: 100%;
float: left;
color: #000;
text-align: center;
padding: 9px 6px!important;
margin: 0px;
overflow: hidden;
border-right: 0px solid #000!important;
background: #F8F8F8;
font-size: 18px;
}

.home header.banner.navbar.navbar-default.navbar-static-top {
margin-bottom: 0px;
}

.player {
float: right;
margin-top: 5px;
}

#menu-main-nav > li > a {
text-transform: uppercase;
letter-spacing: 1px;
color: #000;
}

#menu-main-nav > li {
margin-left: 12px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.hentry time {
font-size: 12px;
width: 100%;
display: block;
}

body.single .hentry time {
font-size: 16px;
padding: 5px;
}
.hentry p{
   word-spacing: 4px;
   line-height: 20px;
}
.individual-post .post-footer .addthis_toolbox {
float: right;
width: 100%;
}

.meta-date-share {
padding: 1%;   
background-color:#FFF;
}

.addthis_toolbox {
background-color: #FFF;
display: block;
width: 100%;
opacity: .7;
}

.meta-date-share .addthis_toolbox {
width:250px;   
}

.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: 50% 0px!important;
padding-bottom: 60%;
}
.wp-post-image {
margin-bottom: 25px;
}

body.single .btn-primary {
border: none;
color: #FFF;
font-size: 14px;
width: 100%;
padding: 1%;
margin-top:5px;
}

body.single .btn-primary:hover {
background-color: #c9c9c9;
} 

h1.entry-title {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 52px!important;
text-align: left;
background-color:#FFF;
padding:1%;
}

.blog-post-content {
margin-top: 20px;
background-color: #FFF;
padding: 2%;
}

.individual-post {
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
}

.individual-post .excerpt {
height: 155px;
overflow: hidden; 
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
border-top: 1px solid #ededed;
}

.individual-post .post-footer .post-date {
color: #ccc!important;
font-size: 10px;
text-transform: uppercase;
}

#respond > h3 {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 32px!important;
text-align: left;
background-color: #FFF;
padding: 1%;
}

#respond {background-color:#FFF;}


body.category-news .addthis_default_style .at15t_compact {
display: none;
}

/* ==========================================================================
   Home
   ========================================================================== */
.headline>*{
   text-align: center;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

p.credits {
float: right;
text-transform: uppercase;
font-size: 16px;
}
div#social {
float: left;
}
ul#menu-social-navigation {
font-size: 20px;
}
.footer-banner{
   padding: 0px!important;
}
h4.banner-headline {
position: relative;
top: 200px;
left: 160px;
max-width: 670px;
color: #fff;
font-size: 26px;
}
a.banner-link {
text-decoration: none;
}
a.banner-link:hover {
text-decoration: none;
}
button.btn.btn-default.btn-banner {
clear: both;
height: 25px;
width: 100px;
font-size: 15px;
margin-top: 45px;
margin-left: 15px;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { 

.header {height:130px;}

ul#menu-main-nav {
position: relative;
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 60px;
}

nav.collapse.navbar-collapse {
height: 130px!important;
position: relative;
}


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { 

li.playing p {
margin-bottom: 0!important;
margin-bottom: 0!important;
margin-top: 5%;
}

}
